/* Image de font en position fixe */
body, html {
    background-image: url("../images/guidnautica.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

#carte {
    /* Ajoutez le code pour placer correctement la carte
    au milieu du site */
}