/* Image de font en position fixe */
body, html {
    background-image: url("../images/apropos.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

/* Titre du site: "A propos" */
#titre {
	text-align: center;
	font-size: 45px;
	font-family: arial;
	color: rgb(216, 214, 214);
	text-shadow:0px 0px 5px rgb(4, 0, 255);
}

	/* Debut progra: barre de menu */
nav {
	margin: 27px auto 0;
	position: relative;
	width: 370px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}

nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

a:nth-child(1) {
	width: 80px;
}

a:nth-child(2) {
	width: 100px;
}

a:nth-child(3) {
	width: 80px;
}

a:nth-child(4) {
	width: 110px;
}

nav .start-home, a:nth-child(1):hover~.animation {
	width: 80px;
	left: 0;
	background-color: #1abc9c;
}

nav .start-histoire, a:nth-child(2):hover~.animation {
	width: 100px;
	left: 80px;
	background-color: #e74c3c;
}

nav .start-la-carte, a:nth-child(3):hover~.animation {
	width: 80px;
	left: 180px;
	background-color: #9b59b6;
}

nav .start-a-propos, a:nth-child(4):hover~.animation {
	width: 110px;
	left: 260px;
	background-color: #e67e22;
}

	/* Fin progra: barre de menu */

	/* Boite sombre pour le text */
#support-texte {
	background-color: rgba(0, 0, 0, 0.61);
	padding: 0.5% 3% 1% 3%;
	margin: 2% 20% 2% 20%;
}

/* Décoration de la balise " titre " */
#sous-titre {
	bottom: 20px;
	width: 100%;
	color: #ffffff;
	font-size: 30px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Style pour le texte */
.text {
	font-family: 'Courier New', Courier, monospace;
	color: #ffffff;
}

/* Couleurs des sources pour l'histoire */
.sources {
	color: rgb(0, 162, 255);
}

.sources:hover {
	color:rgb(255, 0, 0);
}

#yt{
	height: 10%;
	width: 10%;
	margin: -40px 0 0 0;
}

.gras{
	font-size: 115%;
}