/* Image de font en position fixe */
body, html {
    background-image: url("images/Subnautica-accueil.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

#ba {
	text-align: center;
	font-size: 20px;
	font-family: arial;
	color:black;
}

	/* Debut progra: barre de menu */
nav {
	margin: 27px auto 0;
	position: relative;
	width: 370px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}

nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

a:nth-child(1) {
	width: 80px;
}

a:nth-child(2) {
	width: 100px;
}

a:nth-child(3) {
	width: 80px;
}

a:nth-child(4) {
	width: 110px;
}

nav .start-home, a:nth-child(1):hover~.animation {
	width: 80px;
	left: 0;
	background-color: #1abc9c;
}

nav .start-histoire, a:nth-child(2):hover~.animation {
	width: 100px;
	left: 80px;
	background-color: #e74c3c;
}

nav .start-la-carte, a:nth-child(3):hover~.animation {
	width: 80px;
	left: 180px;
	background-color: #9b59b6;
}

nav .start-a-propos, a:nth-child(4):hover~.animation {
	width: 110px;
	left: 260px;
	background-color: #e67e22;
}

/* Fin progra barre de menu */

h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

#video{
	margin: 150px 0 0 0;
	text-align: center;
}

#sous-titre{
	font-size: 60px;
	position: absolute;
	color: #b8ffc6;
	font-family: Impact, 'Arial Narrow Bold';
	margin: 70px 0 0 710px;
	padding: 0 10px 0 10px;
	border: solid;
	border-color: rgb(178, 255, 193);
	border-radius: 8px;
	background-color: rgba(0, 47, 255, 0.37);
	text-align: center;
}

