/* Titre du site: "Histoire" */
#titre {
	text-align: center;
	font-size: 45px;
	font-family: arial;
	color: rgb(216, 214, 214);
	text-shadow:0px 0px 5px rgb(4, 0, 255);
}

/* Image de font en position fixe */
body, html {
    background-image: url("../images/aurora.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

    /* Debut progra: barre de menu */
nav {
	margin: 27px auto 0;

	position: relative;
	width: 530px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}

nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

a:nth-child(1) {
	width: 100px;
}

a:nth-child(2) {
	width: 110px;
}

a:nth-child(3) {
	width: 100px;
}

a:nth-child(4) {
	width: 100px;
}

a:nth-child(5) {
	width: 120px;
}

nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}

nav .start-histoire, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}

nav .start-wiki, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #3498db;
}

nav .start-la-carte, a:nth-child(4):hover~.animation {
	width: 100px;
	left: 310px;
	background-color: #9b59b6;
}

nav .start-a-propos, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 405px;
	background-color: #e67e22;
}

	/* Fin progra: barre de menu */

	/* Boite sombre pour le text */
#support-texte {
	background-color: rgba(0, 0, 0, 0.61);
	padding-left: 3%;
	padding-right: 3%;
	margin-top: 2%;
	margin-left: 20%;
	margin-right: 20%;
}

/* Décoration de la balise "<p>" */
#sous-titre {
    bottom: 20px;
    width: 100%;
    color: #ffffff;
	font-family: 'Cherry Swash',cursive;
	font-size: 30px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#titre {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ffffff;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

.text {
	font-family: 'Courier New', Courier, monospace;
	color: #ffffff;
}